<!DOCTYPE html>
<html
  lang="en"
  data-theme="light"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/img/favicon.ico"
    />

    <link
      rel="stylesheet"
      href="/css/style.css"
    />

    <title>Dashboard</title>
  </head>
  <body class="bg-base-200 min-h-screen flex flex-col">
    <%- include("partial/navbar") %> <%- include("partial/alert") %>

    <main><%- body %></main>

    <%- include("partial/footer") %>
  </body>
</html>
