<!DOCTYPE html>
<html
  lang="en"
  data-theme="light"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="/css/style.css"
    />
    <title>Dashboard</title>
  </head>
  <body class="min-h-screen bg-base-200">
    <%- include("partial/sidebar") %>

    <main
      id="content"
      class="transition-all duration-300 ml-64"
    >
      <%- include("partial/dashboardHeader") %>
      <div class="p-6"><%- body %></div>
    </main>

    <script>
      const sidebar = document.getElementById("sidebar");
      const toggleBtn = document.getElementById("toggleSidebarBtn");
      const content = document.getElementById("content");

      toggleBtn.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        content.classList.toggle("ml-64");
      });
    </script>
  </body>
</html>
