<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="stylesheet"
      href="/css/bootstrap.min.css"
    />

    <title>Dashboard</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include("partial/sidebar") %>

    <main class="container mt-5"><%- body %></main>

    <%- include("partial/footer") %>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
