<% layout('layouts/app') %>

<section class="my-4 mx-40">
  <h2 class="text-4xl text-center mb-8">Stocks</h2>

  <div class="flex flex-wrap justify-center gap-4">
    <% productTypes.forEach((type) => { %>
    <div class="card w-72 bg-base-100 card-sm shadow-sm">
      <div class="card-body">
        <div class="flex items-start">
          <h3 class="card-title text-zinc-500"><%= type %></h3>
          <div class="badge badge-ghost ml-auto p-1 min-h-0 h-auto">
            <img
              src="/img/<%= type.toLowerCase() %>.png"
              alt="<%= type %>"
              class="w-8 h-8 grayscale dark:invert"
            />
          </div>
        </div>
        <div>
          <p class="text-3xl font-bold">50</p>
          <p class="text-zinc-500">dari 100 barang bulan kemarin</p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>

<section class="my-8">
  <h2 class="text-4xl text-center mb-8">Latest Order</h2>
  <div class="rounded-lg border border-base-content/5 bg-base-100 mx-80">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Id</th>
          <th>Tanggal</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>001</td>
          <td>Quality Control</td>
          <td>Blue</td>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>002</td>
          <td>Desktop Support</td>
          <td>Purple</td>
        </tr>
        <!-- row 3 -->
        <tr>
          <td>003</td>
          <td>Brice Swyre</td>
          <td>Tax Accountant</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
