<header>
  <div class="shadow-sm">
    <div class="flex items-center justify-between mx-10 py-4">
      <h1 class="text-base font-bold">Nama Toko</h1>

      <ul class="flex justify-between">
        <!-- user need auth -->
        <li><a href="/dashboard">Dashboard</a></li>
        <div class="divider divider-horizontal"></div>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </div>
</header>
