<aside
  id="sidebar"
  class="fixed top-0 left-0 w-64 bg-base-100 min-h-screen flex flex-col transition-transform duration-300 shadow-sm"
>
  <div class="space-y-10 p-4">
    <div class="flex items-center justify-between">
      <a
        href="/dashboard"
        class="flex gap-2"
      >
        <div class="avatar">
          <div class="w-8 rounded-full">
            <img src="/img/logo.png" />
          </div>
        </div>
        <h2 class="text-xl">Style House</h2>
      </a>
    </div>

    <div class="space-y-2">
      <div>
        <div class="text-sm text-base-content/70 px-2">Navigation</div>
        <div>
          <a
            href="/dashboard"
            class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard"
            >
              <rect
                width="7"
                height="9"
                x="3"
                y="3"
                rx="1"
              />
              <rect
                width="7"
                height="5"
                x="14"
                y="3"
                rx="1"
              />
              <rect
                width="7"
                height="9"
                x="14"
                y="12"
                rx="1"
              />
              <rect
                width="7"
                height="5"
                x="3"
                y="16"
                rx="1"
              />
            </svg>
            <span>Dashboard</span>
          </a>
        </div>
      </div>

      <div>
        <div class="text-sm text-base-content/70 px-2 relative z-10">
          Manage
        </div>
        <div class="collapse collapse-arrow group -mt-3">
          <input
            type="checkbox"
            checked
          />
          <div
            class="collapse-title flex items-center gap-2 w-full px-2 rounded-md font-semibold group-hover:text-base-content/80 group-active:text-base-content/70"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-barcode-icon lucide-barcode mt-0.5"
            >
              <path d="M3 5v14" />
              <path d="M8 5v14" />
              <path d="M12 5v14" />
              <path d="M17 5v14" />
              <path d="M21 5v14" />
            </svg>
            <span>Products</span>
          </div>
          <div class="collapse-content text-sm relative z-10 -mt-2">
            <div>
              <a
                href="/dashboard/products"
                class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-package-icon lucide-package"
                >
                  <path
                    d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"
                  />
                  <path d="M12 22V12" />
                  <polyline points="3.29 7 12 12 20.71 7" />
                  <path d="m7.5 4.27 9 5.15" />
                </svg>
                <span>All Products</span>
              </a>
            </div>
            <div>
              <a
                href="/dashboard/products/categories"
                class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-folder-tree-icon lucide-folder-tree"
                >
                  <path
                    d="M20 10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2.5a1 1 0 0 1-.8-.4l-.9-1.2A1 1 0 0 0 15 3h-2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1Z"
                  />
                  <path
                    d="M20 21a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-2.9a1 1 0 0 1-.88-.55l-.42-.85a1 1 0 0 0-.92-.6H13a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1Z"
                  />
                  <path d="M3 5a2 2 0 0 0 2 2h3" />
                  <path d="M3 3v13a2 2 0 0 0 2 2h3" />
                </svg>
                <span>Categories</span>
              </a>
            </div>
            <div>
              <a
                href="/dashboard/products/brands"
                class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-tag-icon lucide-tag"
                >
                  <path
                    d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"
                  />
                  <circle
                    cx="7.5"
                    cy="7.5"
                    r=".5"
                    fill="currentColor"
                  />
                </svg>
                <span>Brands</span></a
              >
            </div>
            <div>
              <a
                href="/dashboard/products/colors"
                class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-palette-icon lucide-palette"
                >
                  <path
                    d="M12 22a1 1 0 0 1 0-20 10 9 0 0 1 10 9 5 5 0 0 1-5 5h-2.25a1.75 1.75 0 0 0-1.4 2.8l.3.4a1.75 1.75 0 0 1-1.4 2.8z"
                  />
                  <circle
                    cx="13.5"
                    cy="6.5"
                    r=".5"
                    fill="currentColor"
                  />
                  <circle
                    cx="17.5"
                    cy="10.5"
                    r=".5"
                    fill="currentColor"
                  />
                  <circle
                    cx="6.5"
                    cy="12.5"
                    r=".5"
                    fill="currentColor"
                  />
                  <circle
                    cx="8.5"
                    cy="7.5"
                    r=".5"
                    fill="currentColor"
                  />
                </svg>
                <span>Colors</span>
              </a>
            </div>
            <div>
              <a
                href="/dashboard/products/sizes"
                class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-ruler-icon lucide-ruler"
                >
                  <path
                    d="M21.3 15.3a2.4 2.4 0 0 1 0 3.4l-2.6 2.6a2.4 2.4 0 0 1-3.4 0L2.7 8.7a2.41 2.41 0 0 1 0-3.4l2.6-2.6a2.41 2.41 0 0 1 3.4 0Z"
                  />
                  <path d="m14.5 12.5 2-2" />
                  <path d="m11.5 9.5 2-2" />
                  <path d="m8.5 6.5 2-2" />
                  <path d="m17.5 15.5 2-2" />
                </svg>
                <span>Sizes</span></a
              >
            </div>
          </div>
        </div>
        <div class="-mt-3 relative z-10">
          <a
            href="/dashboard/orders"
            class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-receipt-text-icon lucide-receipt-text"
            >
              <path
                d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"
              />
              <path d="M14 8H8" />
              <path d="M16 12H8" />
              <path d="M13 16H8" />
            </svg>
            <span>Orders</span>
          </a>
        </div>
        <div>
          <a
            href="/dashboard/users"
            class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-users-icon lucide-users"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
              <path d="M16 3.128a4 4 0 0 1 0 7.744" />
              <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
              <circle
                cx="9"
                cy="7"
                r="4"
              />
            </svg>
            <span>Users</span></a
          >
        </div>
      </div>

      <div>
        <div class="text-sm text-base-content/70 px-2">Extras</div>
        <div>
          <a
            href="/dashboard/settings"
            class="w-full flex items-center gap-2 px-2 py-1 rounded-md font-semibold transition mt-1 hover:bg-base-300/80 active:bg-base-300/70"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-settings-icon lucide-settings"
            >
              <path
                d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"
              />
              <circle
                cx="12"
                cy="12"
                r="3"
              />
            </svg>
            <span>Settings</span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto bg-base-300 px-4 py-2">
    <div class="flex items-center gap-4">
      <div class="avatar rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-user-icon lucide-circle-user"
        >
          <circle
            cx="12"
            cy="12"
            r="10"
          />
          <circle
            cx="12"
            cy="10"
            r="3"
          />
          <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
        </svg>
      </div>

      <div class="flex-1">
        <% if (currentUser) { %>
        <div class="capitalize font-bold"><%= currentUser.username %></div>
        <div class="capitalize text-sm"><%= currentUser.role %></div>
        <% } else { %>
        <div>Guest</div>
        <% } %>
      </div>

      <div>
        <div class="dropdown dropdown-top dropdown-center">
          <div
            class="btn btn-ghost p-0 min-h-0 h-auto min-w-0 w-auto rounded-full"
            tabindex="0"
            role="button"
          >
            <div class="size-8 grid place-items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"
              >
                <circle
                  cx="12"
                  cy="12"
                  r="1"
                />
                <circle
                  cx="12"
                  cy="5"
                  r="1"
                />
                <circle
                  cx="12"
                  cy="19"
                  r="1"
                />
              </svg>
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content bg-base-200 rounded-box w-32 p-2 mb-2 shadow-sm"
          >
            <li><a href="/dashboard/settings">Settings</a></li>
            <li>
              <button
                onclick="
              event.preventDefault()
              document.querySelector('#logout-form').submit()
            "
              >
                Logout
              </button>
              <form
                action="/logout"
                method="POST"
                id="logout-form"
                style="display: none"
              ></form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>
