<% layout("layouts/dashboard") %>

<div class="space-y-10">
  <div class="space-y-1 flex">
    <div>
      <h1 class="text-4xl font-bold">Products</h1>
      <p class="text-base-content/75">Manage all products</p>
    </div>
    <div class="ml-auto">
      <a
        href="/dashboard/products/new"
        class="flex items-center btn btn-primary"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
        <span>Create new</span>
      </a>
    </div>
  </div>

  <div class="space-y-4">
    <%- include('../components/table/dataTable', {
      model: 'products',
      query: query,
      sort: sort,
      columns: [
        { field: 'id', label: 'ID', sortable: true },
        { field: 'name', label: 'Nama', sortable: false },
        { field: 'brand', label: 'Brand', sortable: false },
        { field: 'product_type', label: 'Tipe', sortable: false },
        { field: 'category', label: 'Kategori', sortable: false },
        { field: 'color', label: 'Warna', sortable: false },
        { field: 'size', label: 'Ukuran', sortable: false },
        { field: 'price', label: 'Harga', sortable: true, format: (value) => formatRupiah(value) },
        { field: 'stock', label: 'Stok', sortable: true },
      ],
      rows: products
    }) %>
  </div>
</div>
