<% layout("layouts/dashboard") %>

<div
  class="overflow-x-auto rounded-lg border border-base-content/5 bg-base-100 w-full"
>
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Sizes</th>
        <th>Total Stok</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% for (let i = 0; i < 3; i++) { %>
      <tr>
        <td><%= i %></td>
        <td>Nike</td>
        <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-ellipsis-icon lucide-ellipsis"
          >
            <circle
              cx="12"
              cy="12"
              r="1"
            />
            <circle
              cx="19"
              cy="12"
              r="1"
            />
            <circle
              cx="5"
              cy="12"
              r="1"
            />
          </svg>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
